<nav class="navbar navbar-expand-lg   text-center navbar-light bg-*" style="background: none;
padding: 0 ;justify-content: space-around;height: 8vh;
" > 
  <div class="container-fluid d-flex justify-content-center text-center flaot-center " style=" padding-left:7%;">
    {{!-- <a class="navbar-brand" href="#">Navbar</a> --}}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="justify-content-center " style=";" id="">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-size: 0.7em;">
        <li class="nav-item  mx-2">
          <a class="nav-link text active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item  mx-2">
          <a class="nav-link text  active" aria-current="page" href="#">About</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text active" aria-current="" href="/asas">Contact</a>
        </li>
        
         
        
      </ul>
     
    </div>
  </div>
       <div class="">

        <div class="">
            <div class=" d-flex" >
                <a class="buttont text-center pt-0 w-75 font" style="text-decoration: none; font-size: small; height: 5vh;" href="/login">Login</a>

            </div>
        </div>
    </div>
</nav>