<div class="row text-uppercase text-center d-flex justify-content-center pt-4 container-fluid mt-2 " style="font-size: 5vh;
 font-family: Arial, Helvetica, sans-serif; font-weight: 600;letter-spacing: 0.4vw ;vertical-align: middle;">   
    invest today
</div>

<div class="row d-flex m-1 mb-5 mt-5 pt-5 justify-content-center">
    <div class="col-3 border position-relative m-2 p-2 text-center input w-25" style="height:50vh;" >Basic
        <a href="" class="buttont position-absolute bottom-0 pt-0 start-25 pt-0 w-50" style="font-size: small;height: 5vh;margin-left: 25%;text-decoration: none;
        " >Invest Now</a>
    </div>
    <div class="col-3 border position-relative m-2 p-2 text-center input w-25" style="height:50vh;" >Basic
        <a href="" class="buttont position-absolute bottom-0 pt-0 start-25 pt-0 w-50" style="font-size: small;height: 5vh;margin-left: 25%;text-decoration: none;
        " >Invest Now</a>
    </div>
    <div class="col-3 border position-relative m-2 p-2 text-center input w-25" style="height:50vh;" >Basic
        <a href="" class="buttonRed position-absolute bottom-0 pt-0 start-25 pt-0 w-50" style="font-size: small;height: 5vh;margin-left: 25%;text-decoration: none;
        " >Invest Now</a>
    </div>
   
</div>

