<div class="row d-flex py-5  justify-content-center ">
    <form action="/login" method="post" class="col-3 my-5 p-3 pt-2 box justify-content-center ">
    <div class="d-flex justify-content-center mb-4"><label for="" class="my-3 text-dark">Login</label></div>
       <input type="text" name="name" class="input text-center container mb-3" style="font-size: small;" placeholder="Username" name="" id="">
       <input type="password" name="password" class="input text-center container mb-3" placeholder="Password" name="" id="">
       <a href="" class="font ms-5" style="font-size: 0.8vw;text-decoration: none;" >Don't have an Account ?</a>
<div class="d-flex justify-content-center" >
       <input type="submit" name="" class="w-25 pt-0 buttont "  id="" style="height: 5vh; font-size: small;">

</div>
        </div>
        </div>

    </form>


</div>